{% extends "frontend/app.html"%}

{% load static %}
{% load extra_tags %}

{% block content %}
{% include "frontend/sidebar.html" %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Manage Orders</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/manage-orders">Manage Orders</a></li>
        <li class="breadcrumb-item"><a href="/admin/manage-orders/{{order.ref_no}}">{{order.ref_no}}</a></li>
        <li class="breadcrumb-item"><a href="#">Receipt</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">

    <div class="row">
      <div class="col-md-12">
        <!-- Django messages -->
        {% if messages %}
        {% for message in messages %}
        {% include 'frontend/alert.html' %}
        {% endfor %}
        {% endif %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Below is the payment details of {{order.user.get_full_name}} for order
              {{order.ref_no}}.</h5>

            <div class="fade show active profile-overview">
              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Payment Reference #</div>
                <div class="col-lg-9 col-md-8">{{order.payment.ref_no}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Payment Method</div>
                <div class="col-lg-9 col-md-8">{{order.payment_option.name}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Amount</div>
                <div class="col-lg-9 col-md-8">&#x20B1; {{order.payment.amount}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Status</div>
                <div class="col-lg-9 col-md-8">{{order.payment.get_status_display}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Receipt</div>
                <div class="col-lg-9 col-md-8">
                  <div
                    class="d-flex justify-content-center align-items-center square-container-100 hoverable-image mouse-pointer"
                    data-bs-toggle="modal" data-bs-target="#previewImage">
                    <img class="square-image" src="{{order.payment.receipt_image_url}}" alt="uniform image">
                  </div>
                </div>
              </div>
            </div>


            <h5 class="card-title">Actions</h5>
            <div class="buttons">
              {% if not order.payment.status == 'approved' %}
              <button class="btn btn-primary" onclick="updatePayment('approved')">Approve Payment</button>
              {% endif %}

              {% if not order.payment.status == 'declined' %}
              <button class="btn btn-danger" onclick="updatePayment('declined')">Decline Payment</button>
              {% endif %}

              {% if not order.payment.status == 'pending' %}
              <button class="btn btn-secondary" onclick="updatePayment('pending')">Move to Pending</button>
              {% endif %}
            </div>


          </div><!-- End Bordered Tabs -->
        </div>

      </div>
    </div> <!-- Add more cards as needed -->
    </div>
  </section>

  <!-- Update FAQ Modal -->
  <div class="modal fade" id="previewImage" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="header-title">Payment Receipt</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body d-flex justify-content-center">

          <img src="{{order.payment.receipt_image_url}}" class="img-fluid">

        </div>
      </div>
    </div>
  </div><!-- End Update FAQ Modal-->

</main><!-- End #main -->
<script>
  const updatePayment = async (status) => {
    sweetalert = await Swal.fire({
      title: "Are you sure?",
      html: `This will move the payment to a <b>${status}</b> status.`,
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: `Yes`
    })

    if (sweetalert.isConfirmed) {
      const url = '/api/v1/payments/{{order.payment.ref_no}}';
      const payload = {
        headers: {
          "X-CSRFToken": "{{csrf_token}}",
          "Content-Type": "application/json"
        },
        method: 'PATCH',
        body: JSON.stringify({
          status: status
        })
      }

      fetch(url, payload)
        .then(response => response.json())
        .then(response => {
          window.location.href = '/admin/manage-orders/{{order.ref_no}}'
        })
        .catch(error => {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: error,
            confirmButtonColor: '#4154f1',
          })
        });

    }

  }
</script>
{%endblock content%}