{% extends "frontend/app.html"%}

{% load static %}
{% load humanize %}

{% block content %}
{% include "frontend/sidebar.html" %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">Sales</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>&#8369;{{sales|floatformat:"2"|intcomma}}</h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span> -->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Expenses Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card expenses-card">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">Expenses</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-wallet2"></i>
                  </div>
                  <div class="ps-3">
                    <h6>&#8369;{{expenses|floatformat:"2"|intcomma}}</h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span> -->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Expenses Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">Profit</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>&#8369;{{profit|floatformat:"2"|intcomma}}</h6>
                    <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span
                      class="text-muted small pt-2 ps-1">increase</span> -->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-md-6">

            <div class="card info-card customers-card">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">Users</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{users}}</h6>
                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span
                      class="text-muted small pt-2 ps-1">decrease</span> -->

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->
        </div><!-- End Left side columns -->

        <div class="row">
          <!-- Reports -->
          <div class="col-lg-8 col-sm-12">
            <div class="card">

              <!-- <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div> -->

              <div class="card-body">
                <h5 class="card-title">Reports </h5>

                <!-- Line Chart -->
                <div id="reportsChart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", async () => {

                    const url = "/api/v1/analytics/report-bar-graph"
                    const payload = {
                      headers: { "X-CSRFToken": "{{csrf_token}}" },
                      method: 'GET',
                    }

                    const response = await fetch(url, payload);
                    const data = await response.json();

                    new ApexCharts(document.querySelector("#reportsChart"), {
                      series: data.data.series,
                      chart: {
                        height: 400,
                        type: 'bar',
                        toolbar: {
                          show: false
                        },
                      },
                      dataLabels: {
                        enabled: false
                      },
                      markers: {
                        size: 4
                      },
                      colors: ['#4154f1', '#2eca6a', '#ff771d'],
                      fill: {
                        type: "solid",
                      },
                      dataLabels: {
                        enabled: false
                      },
                      stroke: {
                        curve: 'smooth',
                        width: 2
                      },
                      xaxis: {
                        type: 'text',
                        categories: data.data.categories
                      },
                      // tooltip: {
                      //   x: {
                      //     format: 'dd/M/y'
                      //   },
                      // }
                    }).render();
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

          <div class="col-lg-4 col-sm-12">
            <!-- Website Traffic -->
            <div class="card">
              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body pb-0">
                <h5 class="card-title">Sales and Expenses Chart </h5>

                <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                <script>
                  document.addEventListener("DOMContentLoaded", async () => {

                    const url = "/api/v1/analytics/sales-expense-pie-chart"
                    const payload = {
                      headers: { "X-CSRFToken": "{{csrf_token}}" },
                      method: 'GET',
                    }

                    const response = await fetch(url, payload);
                    const data = await response.json();

                    echarts.init(document.querySelector("#pieChart")).setOption({
                      tooltip: {
                        trigger: 'item'
                      },
                      legend: {
                        orient: 'horizontal',
                        left: 'center'
                      },
                      series: [{
                        name: 'Value in Peso',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: true,
                        label: {
                          show: false,
                          position: 'center'
                        },
                        data: data.data,
                        emphasis: {
                          itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                          }
                        }
                      }]
                    });
                  });
                </script>

              </div>
            </div><!-- End Website Traffic -->
          </div>
        </div>

        <div class="row">
          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">Recent Orders</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Ref #</th>
                      <th scope="col">User</th>
                      <th scope="col">Payment Option</th>
                      <th scope="col">Total</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in order_recent %}
                    <tr>
                      <th><a href="/admin/manage-orders/{{order.ref_no}}"> {{order.ref_no}}</a> </th>
                      <td><a href="/admin/manage-users/{{order.user.pk}}"> {{order.user.get_full_name}}</a></td>
                      <td>{{order.payment_option.name}}</td>
                      <td>&#8369; {{order.total}}</td>
                      <td> <span class="badge text-bg-primary rounded-pill">{{order.get_status_display}}</span></td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="5">
                        <div class="d-flex justify-content-center">No recent order fetched<div>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>

              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center">
                  <a href="/admin/manage-orders">View All Orders</a>
                </div>
              </div>

            </div>
          </div><!-- End Recent Sales -->

          <!-- Top Selling -->
          <div class="col-lg-12">
            <div class="card top-selling overflow-auto">

              <!-- <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div> -->

              <div class="card-body pb-0">
                <h5 class="card-title">Top Selling</h5>

                <table class="table table-borderless">
                  <thead>

                    <tr>
                      <th scope="row">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Sold</th>
                      <th scope="col">Revenue</th>
                    </tr>

                  </thead>
                  <tbody>
                    {% for uniform in uniform_sales_ranking %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>
                        {% if uniform.uniform__images__image %}
                        <div class="d-flex justify-content-center align-items-center square-container-100 ">
                          <img style="max-width: 100%; height: auto; object-fit: cover;"
                            src="{{ MEDIA_URL }}{{uniform.uniform__images__image}}" alt="uniform image">
                        </div>
                        {% else %}
                        <span class="badge text-bg-secondary">Preview unavailable</span>
                        {% endif %}
                      </td>
                      <td><a href="/admin/manage-uniforms/{{uniform.uniform}}">{{uniform.uniform__name}}</a></td>
                      <td>&#8369; {{uniform.uniform__price|floatformat:"2"|intcomma}}</td>
                      <td>{{uniform.total_sold}} {{uniform.uniform__inventory__unit}} (s) </td>
                      <td>&#8369; {{uniform.total_revenue|floatformat:"2"|intcomma}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="5">
                        <div class="d-flex justify-content-center">No recent order fetched<div>
                      </td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>

              </div>
              <div class="card-footer">
                <div class="d-flex justify-content-center">
                  <a href="/admin/manage-uniforms">View All Uniforms</a>
                </div>
              </div>

            </div>
          </div><!-- End Top Selling -->
        </div>
      </div>

    </div>
  </section>



</main><!-- End #main -->

{%endblock content%}