{% extends "frontend/app.html"%}

{% load static %}
{% load extra_tags %}

{% block content %}
{% include "frontend/sidebar.html" %}
<main id="main" class="main">


  <div class="pagetitle">
    <h1>My Cart</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">My Cart</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Below is the list of uniforms that you added to your cart.</h5>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Image</th>
              <th scope="col">Uniform Name</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for cart_item in cart_list %}
            <tr>
              <td>
                <input type="checkbox" class="form-check-input form-check-input-lg border-secondary cart-item-checkbox"
                  data-price="{{cart_item.total_price}}" data-id="{{cart_item.id}}">
              </td>
              <td>
                {% if cart_item.uniform.main_image %}
                <div class="d-flex justify-content-center align-items-center square-container-100 ">
                  <img class="square-image" src="{{cart_item.uniform.main_image}}" alt="uniform image"
                    onerror="this.src='{{cart.uniform.default_photo_url}}';">
                </div>
                {% else %}
                <span class="badge text-bg-secondary">Preview unavailable</span>
                {% endif %}
              </td>
              <td class="w-25">{{cart_item.uniform.name}} ({{cart_item.variant|default:""}})</td>
              <td>&#x20B1; {{cart_item.uniform.price}}</td>
              <td>{{cart_item.quantity}} x</td>
              <td>&#x20B1; {{cart_item.total_price}}</td>
              <!-- Action Buttons -->
              <td>
                <button class="btn btn-danger" data-id="{{cart_item.id}}" onclick="handleDeleteSingle(this)"><i
                    class="bi bi-trash"></i></button>

                <a href="/uniforms/{{cart_item.uniform.id}}" class="btn btn-primary"><i class="bi bi-eye"></i></a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">
                <div class="d-flex justify-content-center">
                  There is no item on your cart. Try to &nbsp;<a href="/uniforms"> Browse Uniforms</a>.
                  <div>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <!-- End Table with stripped rows -->

      </div>
    </div>

    <div class="card sticky-bottom shadow-lg" style="z-index: 1;">
      <div class="card-body">
        <h5 class="card-title">Selection Summary</h5>

        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex align-items-center">
              <div class="form-group">
                <input type="checkbox" class="form-check-input form-check-input-lg border-secondary"
                  id="selectAllCheckbox">
                <label> Select All</label>
              </div>

              <div class="form-group mx-3">
                <button class="btn btn-danger" onclick="handleDeleteMultiple()">Delete</button>
              </div>
            </div>

          </div>

          <div class="col-lg-6 d-flex justify-content-end"">
            <div style="font-size: 1.5rem; font-weight: bold;">
              <span>Total (<span id="itemSelectedText">0</span> Item): &#x20B1; <span
                  id="totalPriceText">00</span></span>
              <button class="btn btn-primary" onclick="showconfirmCheckoutModal()">Checkout</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</main><!-- End #main -->

<!-- Create Sysem Information Modal -->
<div class="modal fade" id="confirmCheckoutModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="header-title">Order Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <table class="table" id="selectionTable">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Uniform Name</th>
              <th scope="col">Unit Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total Price</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <!-- End Table with stripped rows -->

        <div class="row">
          <div class="col-lg-8">

            <div class="form-group">
              <label style="font-weight: bold;">Select Payment Option:</label>

              <div class="payment-option-button-container">
                {% for option in payment_options %}
                <button class="btn btn-outline-primary btn-sm" onclick="handleSelectPaymentOption(this)"
                  data-id="{{option.id}}">{{option.name}}</button>
                {% endfor %}
              </div>
              <span class="text-danger d-none" id="paymentOptionErrorText"> Select a payment option.</span>
            </div>

          </div>

          <div class="col-lg-4 d-flex justify-content-end">
            <div class="d-flex justify-content-end">
              <div style="font-size: 1.5rem; font-weight: bold;">
                <span>Total (<span id="modalItemSelectedText">0</span> Item): &#x20B1; <span
                    id="modalTotalPriceText">00</span></span>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" onclick="handlePlaceOrder()">Place Order</button>
      </div>


    </div>
  </div>
</div><!-- End Create FAQ Modal-->

<script src=" {% static 'frontend/vendor/others/just-validate.min.js' %}"></script>
<script>
  const selectAllCheckbox = document.getElementById('selectAllCheckbox')
  const itemCheckboxes = document.querySelectorAll('.cart-item-checkbox')
  const itemSelectedText = document.getElementById('itemSelectedText')
  const totalPriceText = document.getElementById('totalPriceText')
  const paymentOptionErrorText = document.getElementById('paymentOptionErrorText');

  let modal = null
  const tableBody = document.querySelector('#selectionTable tbody');
  const modalItemSelectedText = document.getElementById('modalItemSelectedText')
  const modalTotalPriceText = document.getElementById('modalTotalPriceText')

  let itemSelected = 0
  let totalPrice = 0
  let selectedIds = [];
  let selectedPaymentOption = null

  const updateSelectionTexts = () => {
    itemSelectedText.innerText = itemSelected
    totalPriceText.innerText = totalPrice.toFixed(2);
  }
  
  const showError = (element, error_msg) => {
    element.classList.remove('d-none')
    element.innerText = error_msg
    setTimeout(() => {
      element.classList.add('d-none');
    }, 3000);
  }

  itemCheckboxes.forEach((checkbox) => {
    checkbox.addEventListener('change', function () {
      const price = parseFloat(checkbox.getAttribute('data-price'));
      const id = parseInt(checkbox.getAttribute('data-id'));

      if (checkbox.checked) {
        totalPrice += price
        itemSelected++
        selectedIds.push(id);

      } else {
        totalPrice -= price;
        itemSelected--
        selectedIds = selectedIds.filter(selectedId => selectedId !== id);
        selectAllCheckbox.checked = false
      }
      updateSelectionTexts()
    });
  });

  selectAllCheckbox.addEventListener('change', function () {
    // reset all values
    itemSelected = 0
    totalPrice = 0
    selectedIds = [];

    itemCheckboxes.forEach(function (checkbox) {
      const price = parseFloat(checkbox.getAttribute('data-price'));
      const id = parseInt(checkbox.getAttribute('data-id'));

      checkbox.checked = selectAllCheckbox.checked;
      if (checkbox.checked) {
        totalPrice += price
        itemSelected++
        selectedIds.push(id);
      }
      updateSelectionTexts()
    });
  });

  const deleteCartItems = (ids) => {
    if (ids.length <= 0) {
      Swal.fire({
        title: "Error!",
        text: "Please select an item first.",
        icon: "error",
        confirmButtonColor: "#4154f1",
      })
      return
    }

    Swal.fire({
      title: "Are you sure?",
      text: `This action will delete selected item from your cart.`,
      showCancelButton: true,
      confirmButtonColor: "#4154f1",
      cancelButtonColor: "#d33",
      confirmButtonText: `Yes`
    }).then((result) => {
      if (result.isConfirmed) {
        handleAPI()
      }

    });

    const handleAPI = async () => {
      let deletedItems = 0
      for (const id of ids) {
        const url = `/api/v1/carts/${id}`
        const payload = {
          headers: {
            "X-CSRFToken": "{{csrf_token}}",
            "Content-Type": "application/json"
          },
          method: 'DELETE',
        }

        await fetch(url, payload)
          .then(response => response.json())
          .then(response => {
            // process success here
            if (response.status === 'success') {
              deletedItems++
            }
          })
      }

      Swal.fire({
        title: "Sucess!",
        text: `${deletedItems} cart items deleted.`,
        icon: "success",
        confirmButtonColor: "#4154f1",
      }).then((result) => {
        window.location.reload()
      });
    }
  }

  const handleDeleteSingle = (button) => {
    const id = parseInt(button.getAttribute('data-id'));
    deleteCartItems([id])
  }

  const handleDeleteMultiple = (button) => {
    deleteCartItems(selectedIds)
  }

  const showconfirmCheckoutModal = () => {
    if (selectedIds.length <= 0) {
      Swal.fire({
        title: "Error!",
        text: "Please select an item first.",
        icon: "error",
        confirmButtonColor: "#4154f1",
      })
      return
    }

    const clearTable = () => {
      // Remove all child elements (rows) from the tbody
      while (tableBody.firstChild) {
        tableBody.removeChild(tableBody.firstChild);
      }
    }

    const addRow = (data) => {
      let newRow = document.createElement('tr');

      // Column 1
      let imageCell = document.createElement('td');
      let imageTagContainer = document.createElement('div')
      imageTagContainer.classList.add('square-container-100')
      let imageTag = document.createElement('img');
      imageTag.classList.add('square-image')
      imageTag.src = data.uniform_image
      imageTagContainer.appendChild(imageTag)
      imageCell.appendChild(imageTagContainer);
      newRow.appendChild(imageCell);

      // Column 2
      let nameCell = document.createElement('td');
      nameCell.classList.add('w-25')
      nameCell.textContent = `${data.uniform_name} (${data.variant ? data.variant : ""})`
      newRow.append(nameCell)

      // Column 3
      let unitPriceCell = document.createElement('td');
      unitPriceCell.innerHTML = `&#x20B1; ${data.unit_price}`
      newRow.append(unitPriceCell)

      // Column 4
      let quantityCell = document.createElement('td');
      quantityCell.innerHTML = `${data.quantity} x`
      newRow.append(quantityCell)

      // Column 3
      let totalPriceCell = document.createElement('td');
      totalPriceCell.innerHTML = `&#x20B1; ${data.total_price}`
      newRow.append(totalPriceCell)

      tableBody.appendChild(newRow);
    }

    modal = new bootstrap.Modal(document.getElementById('confirmCheckoutModal'));
    modal.show();
    modal._element.addEventListener('hidden.bs.modal', clearTable());

    const getSelectedCartDetails = async () => {
      for (const id of selectedIds) {
        const url = `/api/v1/carts/${id}`
        const payload = {
          headers: {
            "X-CSRFToken": "{{csrf_token}}",
            "Content-Type": "application/json"
          },
          method: 'GET',
        }

        await fetch(url, payload)
          .then(response => response.json())
          .then(response => {
            // process success here
            if (response.status === 'success') {
              data = response.data
              addRow(data)
            }
          })
      }
    }

    getSelectedCartDetails()
    modalItemSelectedText.innerText = itemSelected
    modalTotalPriceText.innerText = totalPrice.toFixed(2);
  }

  const handleSelectPaymentOption = (clickedButton) => {
    // Get all buttons within the container
    let buttons = document.querySelectorAll('.payment-option-button-container button');
    // Loop through each button and set the class accordingly
    buttons.forEach(function (button) {
      if (button === clickedButton) {
        button.classList.remove('btn-outline-primary');
        button.classList.add('btn-primary');
        selectedPaymentOption = button.getAttribute('data-id')
      } else {
        button.classList.remove('btn-primary');
        button.classList.add('btn-outline-primary');
      }
    });
    console.log(selectedPaymentOption)
  }

  const handlePlaceOrder = () => {
    const url = '/api/v1/place-order'
    const payload = {
      headers: {
        "X-CSRFToken": "{{csrf_token}}",
        "Content-Type": "application/json"
      },
      method: 'POST',
      body: JSON.stringify({
        cart_id: selectedIds,
        payment_option: selectedPaymentOption,
      })
    }

    fetch(url, payload)
      .then(response => response.json())
      .then(response => {
        // process success here
        console.log(response)
        if (response.status === 'success') {
          const data = response.data
          modal.hide()
          Swal.fire({
            title: "Success!",
            html: `${data.message}<br>. You will be redirected to the order details after 10 seconds.`,
            icon: "success",
            confirmButtonColor: "#4154f1",
            timer: 10000,
            timerProgressBar: true,
            onBeforeOpen: () => {
              Swal.showLoading();
            }
          }).then((result) => {
            window.location = `/my-orders/${data.ref_no}`
          });

        } else {
          const errors = response.data

          if (errors.hasOwnProperty('payment_option')) {
            showError(paymentOptionErrorText, 'Please select a payment option.')
          }

          if (errors.hasOwnProperty('quantity')) {
            showError(quantityErrorText, errors.quantity)
          }
        }
      })
      .catch(error => {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error,
          confirmButtonColor: '#4154f1',
        })
      });

  }
</script>
{%endblock content%}