{% extends "frontend/app.html"%}

{% load static %}
{% load extra_tags %}

{% block content %}
{% include "frontend/sidebar.html" %}
<main id="main" class="main">

  
  <div class="pagetitle">
    <h1>Manage Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/manage-users">Manage Users</a></li>
        <li class="breadcrumb-item">{{person.get_full_name}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

   <!-- Django messages -->
   {% if messages %}
    {% for message in messages %}
      {% include 'frontend/alert.html' %}
    {% endfor %}
   {% endif %}

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{% if person.photo %}{{person.photo.url}}{% endif %}" alt="Profile" 
            onerror="this.src='{{person.default_photo_url}}';">
            
            <h2>{{person.get_full_name}}</h2>
            <h3>{{person.role|title}}</h3>
            {% if not person.is_superuser %}
              <h3>{{person.student_id|default:""}}  </h3>
            {% endif %}
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
              </li>

            </ul>
            <div class="tab-content pt-2">

              {% if not person.is_active %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert" id="generalAlert">
                  <small>
                    This user is currently deactivated. Would you like to activate this user? 
                    Click <span style="color: #717ff5; cursor: pointer;" id="activate-button">here</span> to activate.
                  </small>
                </div>
              {% endif %}

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Bio</h5>
                <p class="small fst-italic">{{person.bio|default:"No bio"}}</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{person.get_full_name}}</div>
                </div>

                {% if not person.is_superuser %}
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Student Id</div>
                  <div class="col-lg-9 col-md-8">{{person.student_id}}</div>
                </div>
                {% endif %}

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Birthday</div>
                  <div class="col-lg-9 col-md-8">{{person.birthday|date:'E d, Y'}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Gender</div>
                  <div class="col-lg-9 col-md-8">{{person.gender|long_gender}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{person.address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Mobile</div>
                  <div class="col-lg-9 col-md-8">{{person.mobile_number}}</div>
                </div>

                <h5 class="card-title">Account Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Username</div>
                  <div class="col-lg-9 col-md-8">{{person.username}}</div>
                </div>
            
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{person.email}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Date Joined</div>
                  <div class="col-lg-9 col-md-8">{{person.date_joined|date:'E d, Y'}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Last Login</div>
                  <div class="col-lg-9 col-md-8">{{person.last_login|date:'E d, Y'}}</div>
                </div>


              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                <!-- Profile Edit Form -->
                <form id="updateUserForm">
                  <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="{% if person.photo %}{{person.photo.url}}{% endif %}" alt="Profile" id = "photoPreview"
                      onerror="this.src='{{person.default_photo_url}}';">
                      
                      <div class="pt-2">
                        <input type="file" id="photo" name="photo" accept="image/*" hidden>
                        <label for="photo" class="btn btn-primary btn-sm text-light"><i class="bi bi-upload"></i></label>
                      </div>
                   
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="first_name" type="text" class="form-control" id="first_name" value="{{person.first_name}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="middle_name" class="col-md-4 col-lg-3 col-form-label">Middle Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="middle_name" type="text" class="form-control" id="middle_name" value="{{person.middle_name}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="last_name" type="text" class="form-control" id="last_name" value="{{person.last_name}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="suffix" class="col-md-4 col-lg-3 col-form-label">Suffix</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="suffix" type="text" class="form-control" id="suffix" value="{{person.suffix}}">
                    </div>
                  </div>

                  <div class="row mb-3" id="studentIdContainer"> 
                    <label for="student_id" class="col-md-4 col-lg-3 col-form-label">Student Id</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="student_id" type="text" class="form-control" id="student_id" 
                      value="{{person.student_id|default:""}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="birthday" class="col-md-4 col-lg-3 col-form-label">Birthday</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="birthday" type="date" class="form-control" id="birthday" value="{{person.birthday|date:'Y-m-d'}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="gender" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                    <div class="col-md-8 col-lg-9">
                      <select class="form-select" name="gender" id="gender">
                        <option selected disabled value="">---</option>
                        <option value="M" {% if person.gender == 'M' %}selected{% endif %}>Male</option>
                        <option value="F" {% if person.gender == 'F' %}selected{% endif %}>Female</option>
                    </select>    
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="address" type="text" class="form-control" id="address" value="{{person.address}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="mobile_number" class="col-md-4 col-lg-3 col-form-label">Mobile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="mobile_number" type="text" class="form-control" id="mobile_number" value="{{person.mobile_number}}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="role" class="col-md-4 col-lg-3 col-form-label">Role</label>
                    <div class="col-md-8 col-lg-9">
                      <select class="form-select" name="role" id="role">
                        <option selected disabled value="">---</option>
                        <option value="admin" {% if person.role == 'admin' %}selected{% endif %}>Administrator</option>
                        <option value="student" {% if person.role == 'student' %}selected{% endif %}>Student</option>
                    </select>    
                    </div>
                  </div>

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<script src=" {% static 'frontend/vendor/others/just-validate.min.js' %}"></script>
<script>
    // preview photo
    photo = document.getElementById("photo")
    photoPreview = document.getElementById("photoPreview")
    photo.onchange = evt => {
          const [file] = photo.files
          if (file) {
            photoPreview.src = URL.createObjectURL(file)
          }
    }

    const activateButton = document.getElementById('activate-button');
    if(activateButton){
        activateButton.addEventListener('click', () => {
        Swal.fire({
          title: "Are you sure?",
          text: `This action will activate this user`,
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: `Yes, activate it!`
        }).then((result) => {
          if (result.isConfirmed) {
            // Make your API call here (e.g., using the fetch() method)
            const url = "/api/v1/users/{{person.id}}/activate-or-deactivate"; 
            const payload =  {
                headers: {
                  "X-CSRFToken":  "{{csrf_token}}"
                },
                method: 'PATCH',
            }
            fetch(url, payload)
                  .then(response => response.json())
                  .then(response => {
                    // reload page to get fresh data
                    location.reload();
                  })
                  .catch(error => {
                      Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Something went wrong!',
                          confirmButtonColor: '#4154f1',
                      })
                  });
          }
        });
      });
    }
    

    // validation of forms
    const updateUserForm = document.getElementById('updateUserForm');
    const updateUserFormValidator = new window.JustValidate('#updateUserForm', {
        errorFieldCssClass: 'is-invalid',
    });

    //track changes on the role dropdown
    const roleSelect = document.getElementById('role');
    const studentIdContainer = document.getElementById('studentIdContainer');

    const handleShowStudId = (selectedRole) => {
      // hide if selected role is admin
      if (selectedRole == 'admin'){
        studentIdContainer.classList.add('d-none')
      
      // show if otherwise
      }else{
        studentIdContainer.classList.remove('d-none')
         
        //add rules to validator
        updateUserFormValidator
          .addField('#student_id', [{
              rule: 'required',
              errorMessage: 'This field is required',
          },])
      }
    }
    handleShowStudId(roleSelect.value)
    
    roleSelect.addEventListener('change', (evt) => {
      const selectedRole = roleSelect.value
      handleShowStudId(selectedRole)
    })

    updateUserFormValidator
        .addField('#first_name', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#last_name', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#birthday', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#gender', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#mobile_number', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },{
            rule: 'integer',
            errorMessage: 'Invalid mobile number.',
        },{
            rule: 'maxLength',
            value: 11,
            errorMessage: 'Invalid mobile number.'
        },{
            rule: 'minLength',
            value: 11,
            errorMessage: 'Invalid mobile number.',
        }])
        .addField('#role', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .onSuccess((event) => {
            event.preventDefault();

            // Make your API call here (e.g., using the fetch() method)
            const url = '/api/v1/users/{{person.id}}'; 
            const formData = new FormData(updateUserForm);
            const payload =  {
                headers: {
                  "X-CSRFToken":  "{{csrf_token}}"
                },
                method: 'PATCH',
                body: formData
            }

            fetch(url, payload)
                .then(response => response.json())
                .then(response => {
                    console.log(response)
                    // process success here
                    if (response.status === 'success'){
                      const data = response.data
                      //redirect to user profile
                      window.location.href = `/admin/manage-users/${data.id}`
                        
                    // process failed here
                    }else{
                        // store error data
                        const errors = response.data
                        // create a blank variable to store error
                        const field_errors = {}
                        // add hashtags to keys
                        Object.keys(errors).forEach(key => {
                            const value = errors[key];
                            field_errors[`#${key}`] = value
                        });
                        // show field errors to user
                        updateUserFormValidator.showErrors(field_errors)
                    }
                })
                .catch(error => {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        confirmButtonColor: '#4154f1',
                    })
                });
        });

  
</script>
{%endblock content%}