{% extends "frontend/app.html"%}

{% load static %}

{% block content %}
{% include "frontend/sidebar.html" %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Browse Uniforms</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/uniforms">Browse Uniforms</a></li>
        <li class="breadcrumb-item">{{uniform.name}}</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">

    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 pt-3">

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    {% for image in uniform.uniform_images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                      <img src="{{image.image.url}}" class="d-block w-100" alt="Slide 1">
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                      <img src="{{uniform.main_image}}" class="d-block w-100" alt="Slide 1">
                    </div>
                    {% endfor %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>

              <div class="col-lg-6">
                <h4 class="card-title">
                  {{uniform.name}}

                </h4>
                <div class="text-primary">
                  <span id="quantityText">{{uniform.inventory.quantity|default:"0"}}</span> pcs. available | 0 sold
                </div>

                <h3 class="card-title" style="font-size: 50px;">&#x20B1; {{uniform.price}}</h3>

                <section class="section profile">

                  <div class="row  profile-overview">
                    <div class="col-lg-12 ">

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Category</div>
                        <div class="col-lg-9 col-md-8">{{uniform.category.name}}</div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label ">Extra Name</div>
                        <div class="col-lg-9 col-md-8">{{uniform.extra_name}}</div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Barcode</div>
                        <div class="col-lg-9 col-md-8">{{uniform.barcode}}</div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Size</div>
                        <div class="col-lg-9 col-md-8 size-button-container">
                          {% for size in uniform.available_sizes %}
                          <button class="btn btn-outline-primary btn-sm"
                            onclick="handleSelectSize(this)">{{size}}</button>
                          {% endfor %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Quantity</div>
                        <div class="col-lg-9 col-md-8 form-group">

                          <div class="d-flex align-items-center">
                            <div class="input-group" style="width: 120px;">
                              <button class="btn btn-outline-secondary" type="button"
                                onclick="decrementQuantity()">-</button>
                              <input type="text" class="form-control text-center" id="quantityInput" value="1">
                              <button class="btn btn-outline-secondary" type="button"
                                onclick="incrementQuantity()">+</button>
                            </div>

                            <div>&nbsp;{{uniform.inventory.quantity}} pcs. available
                            </div>
                          </div>

                          <span class="text-danger d-none" id="quantityErrorText">Maximum quantity reached.</span>
                        </div>
                      </div>


                    </div>
                  </div>
                </section>

                <button class="btn btn-primary"><i class="bi bi-cart-plus"></i> Add to Cart</button>
                <button class="btn btn-primary">Buy Now</button>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Desciption</h5>
            <p class="fst-italic">{{uniform.description|default:"Nothing to show here."}}</p>
          </div>
        </div>
      </div>
  </section>
</main><!-- End #main -->
<script>
  const quantityText = document.getElementById("quantityText")
  const quantityInput = document.getElementById('quantityInput');
  const quantityErrorText = document.getElementById('quantityErrorText');

  let selectedSize = null
  let availableQuantity = parseInt(quantityText.innerText, 10);

  const handleSelectSize = (clickedButton) => {
    // Get all buttons within the container
    let buttons = document.querySelectorAll('.size-button-container button');
    // Loop through each button and set the class accordingly
    buttons.forEach(function (button) {
      if (button === clickedButton) {
        button.classList.remove('btn-outline-primary');
        button.classList.add('btn-primary');
        selectedSize = button.innerText
      } else {
        button.classList.remove('btn-primary');
        button.classList.add('btn-outline-primary');
      }
    });
  }

  const incrementQuantity = () => {
    let currentQuantity = parseInt(quantityInput.value, 10);
    // Ensure the quantity does not exceed the available quantity
    if (currentQuantity < availableQuantity) {
      quantityInput.value = currentQuantity + 1;
    } else {
      quantityErrorText.classList.remove('d-none')
      setTimeout(() => {
        quantityErrorText.classList.add('d-none');
      }, 3000);
    }
  }

  const decrementQuantity = () => {
    let currentQuantity = parseInt(quantityInput.value, 10);
    // Ensure the quantity does not go below 1
    if (currentQuantity > 1) {
      quantityInput.value = currentQuantity - 1;
    }
  }


</script>
{%endblock content%}